div#site-navigation {
    background: #000;
}

.single-image-wrapper {
    margin: 0 -15px 0 -15px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(238,238,239,0.3) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(238,238,239,0.3) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(238,238,239,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4deeeeef',GradientType=0 );
}

.single-image-wrapper img {
    border-radius: 40% 0 40% 0;
}

.col-sm-8 {
    padding-bottom: 0;
    border-bottom: none;
}

.row {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

div#brands {
    padding: 30px;
}

#brands h1 {
     font-size: 2em;
    text-align: center;
 }

#brands .row {
    padding: 15px 0;
}

#brands .row img.aligncenter {
    border: 5px solid rgb(0, 0, 0);
    width: -webkit-fill-available;
    height: auto;
}

.magazine-cover {
    position: relative;
    overflow: hidden;
    height: auto;
    margin-bottom: 15px;
}

.cover-overlay {
    position: absolute;
    bottom: -100%;
    background: #000;
    height: 100%;
    padding: 25% 10px 25%;
    -webkit-transition: bottom 0.6s;
    transition: bottom 0.6s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.magazine-cover:hover .cover-overlay {
    bottom: 0;
}

#hedge .cover-overlay {
    background: #da4738;
}

#escapism .cover-overlay {
    background: #49b6ee;
}

#foodism .cover-overlay {
    background: #f7d82d;
}

.cover-overlay h3, .cover-overlay p {
    text-align: center;
}

#squaremile .cover-overlay h3, #squaremile .cover-overlay p, #hedge .cover-overlay h3, #hedge .cover-overlay p, #escapism .cover-overlay h3, #escapism .cover-overlay p {
    color: #fff;
}

#foodism .cover-overlay h3, #foodism .cover-overlay p {
    color: #000;
}