{% extends "EscapismDefaultBundle:Default:base.html.twig" %}

{% block additionalcss %}
    <link href="/bundles/escapismdefault/css/contact.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="content" class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-image-wrapper">
                        <div class="placeholder"></div>
                    </div>
                </div>

                <div class="col-sm-2"></div>

                <div id="contact" class="col-sm-4">
                    <h2>Address</h2>
                    <p><a href="https://goo.gl/maps/Ge21CopCuKn" target="_blank">Square Up Media<br/>5 Tun Yard<br/>Peardon Street<br/>London<br/>SW8 3HT</a></p>
                </div>

                <div id="about" class="col-sm-4">
                    <h2>Telephone</h2>
                    <p><a href="tel:+442078199999" target="_blank">+44 (0) 20 7819 9999</a></p>
                    <h2>Email</h2>
                    <p><a href="mailto:info@squareupgroup.com" target="_blank">info@squareupgroup.com</a></p>
                </div>

                <div class="col-sm-2"></div>
            </div>
        </div><!-- /.container -->
    </div><!-- #content -->

{% endblock %}