{% extends "EscapismDefaultBundle:Default:base.html.twig" %}
{% form_theme form "EscapismDefaultBundle:Default:fields.html.twig" %}

{% block additionalcss %}
    <link href="/bundles/escapismdefault/css/contact.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/escapismdefault/css/forms.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="content" class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-image-wrapper">
                        <div class="placeholder"><h1>CONTACT</h1></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div id="contact">
                        <h2>Address</h2>
                        <p><a href="https://goo.gl/maps/Ge21CopCuKn" target="_blank">Square Up Media<br/>5 Tun Yard<br/>Peardon Street<br/>London<br/>SW8 3HT</a></p>

                        <h2>Telephone</h2>
                        <p><a href="tel:+442078199999" target="_blank">+44 (0) 20 7819 9999</a></p>
                        <h2>Email</h2>
                        <p><a href="mailto:info@squareupgroup.com" target="_blank">info@squareupgroup.com</a></p>
                    </div>
                </div>

                <div id="about" class="col-sm-5">
                    <h2>Enquiry Form</h2>
                    <p>Send us a direct message using the form below, and memeber of our team will get in touch with you shortly.</p>

                    <p id="msg" class=""></p>
                    {{ form(form) }}
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" id="bottom">
                <div class="col-sm-1">
                    <div class="single_image-wrapper">
                        <img width="" height="130" src="/bundles/escapismdefault/images/ipad-mag.png" alt="escapism ipad" class="alignleft"/>
                    </div>
                </div>
                <div class="col-sm-11">
                    <h1>THE IPAD</h1>
                    <p>Every issue of Escapism is also available in an interactive iPad edition, with even more photography, animated articles, and a range of tools and features that bring the reader even closer to amazing locations throughout the world. Download the iPad edition here.</p>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- #content -->
{% endblock %}