<header id="masthead" class="site-header">
    <div class="container">
        <div class="adbanner">
            <img class="aligncenter" width="728" height="90" src='/bundles/escapismdefault/images/adbanner.png' alt="leaderboard" />
        </div>
        <div class="site-branding">
            <img class="aligncenter" width="215" height="90" src='/bundles/escapismdefault/images/squareup-logo.png' alt="square up media logo" />
            <h1 class="site-title"><a href="/" rel="home"></a></h1>
            <p class="site-title"><a href="/" rel="home"></a></p>
            <p class="site-description"></p>
            <div class="nav-holder">
                <a id="menu" href="#menu">Menu</a>
            </div>
        </div><!-- .site-branding -->

        <div id="site-navigation" class="main-navigation" style="background: url('/bundles/escapismdefault/images/nav-bg.png') #000 top right no-repeat;">
            <nav class="blog-nav">
                <li><a class="blog-nav-item" href="#">About</a></li>
                <li><a class="blog-nav-item" href="#">Contact</a></li>
                <li><a class="blog-nav-item" href="#">Brands</a></li>
            </nav>
        </div><!-- #site-navigation -->
    </div>
</header><!-- #masthead -->